<section>
	<h3>About Myself</h3>
	
	<div class="face-lockup">
		<div class="face-img"></div>
		
		<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
		<div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
		<div class="icon-browser">{% include icons/icon-browser.html %}</div>
		<div class="icon-camera">{% include icons/icon-camera.html %}</div>
	
	</div>

	<div class="blurb">
		<p>A <strong>dreamer</strong> who won't stop pursuing the <strong>passion</strong> of <strong>creating products</strong> that would, cliche, make the world a better place. A good <strong>design</strong> is not only a must but automatically becomes a happy byproduct of such pursue.</p>
	</div>




	<div class="skill-lockup"></div>
	
	</div>
	
	
</section>